In [1]:
print("hello")

hello

In [1]:
print("world")

world

In [1]:
print("I update something")

I update something

In [1]:
student_cgpa = {
    "Rahman": {
        "CGPA": 3.5,
        "Course": ["IT", "Math", "Physics"]
    },
    "Azwan": {
        "CGPA": 3.7,
        "Course": ["IT", "Math", "Physics"]
    },
    "Kamarul": {
        "CGPA": 3.9,
        "Course": ["IT", "Math", "Physics"]
    }
}
for key, value in student_cgpa.items():
    value['Height'] = 1.75


print(student_cgpa)

# for key in student_cgpa:
#     print(student_cgpa[key])

{'Rahman': {'CGPA': 3.5, 'Course': ['IT', 'Math', 'Physics'], 'Height': 1.75}, 'Azwan': {'CGPA': 3.7, 'Course': ['IT', 'Math', 'Physics'], 'Height': 1.75}, 'Kamarul': {'CGPA': 3.9, 'Course': ['IT', 'Math', 'Physics'], 'Height': 1.75}}

In [4]:
#loop
num=1
while True:
    if num > 10:
        break

{'company_name': 'Genesys', 'company_score': 3.6, 'position': 'Software Engineer', 'location': 'Mount Laurel, NJ', 'pay': '$95K', 'Malaysia Pay': 419900, 'Income Class': 'high'}